<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hellooooo</title>
</head>
<body bgcolor="cyan">
<style>
    #submit {
        background-color: #ccc;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius:6px;
        color: #fff;
        font-family: 'Oswald';
        font-size: 60px;
        text-decoration: none;
        cursor: poiner;
         border:none;
    }
    
    
    
    #submit:hover {
        border: none;
        background:red;
        box-shadow: 0px 0px 1px #777;
        
    }
</style>
<br><br><br><br><br>
    <form action = 'command_up' method='get'>
        <center><button type="submit" name="submit" value="Submit Application" id="submit" />up</button></center>
    </form>
    <form action = 'command_down' method='get'>
        <center><button type="submit" name="submit" value="Submit Application" id="submit" />down</button></center>
    </form>
    <form action = 'command_left' method='get'>
        <center><button type="submit" name="submit" value="Submit Application" id="submit" />left</button> </center>
    </form>
    <form action = 'command_right' method='get'>
        <center><button type="submit" name="submit" value="Submit Application" id="submit" allign = "right"/>right</button> </center>
    </form>
    <form action = 'home' method='get'>
        <center><button type="submit" name="submit" value="Submit Application" id="submit" />stop</button></center>
    </form>
</body>
</html>
